.roboto-mono-font {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

* {
    font-family: "Roboto Mono"
}

header .header-nav-bar {
  display: inline-grid;
  grid-template-columns: 1fr 4fr;
  /* grid-template-rows: 100%; */
  justify-items: stretch;
  align-items: center;
  height: 10vh;
}

.nav-logo {
  grid-column-start: 1 / span 1;
}

.nav {
  grid-column-start: 2 / span 1;
}

#nav-logo {
  height: auto;
}

.nav-links-grid-containter {
  display: inline-grid;
}